In [1]:
# do not change this line
%load_ext jupyter_ai_magics

In [8]:
print("Hello World!")

Hello World!

In [ ]:
# Hello World!

My notesThis means ...

## Introduction to Jupyter AI notebook

##### Text cells
In a notebook, each rectangle containing text or code is called a cell.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called Markdown to add formatting and section headings. You don't need to learn Markdown, but you might want to.

After you edit a text cell, click the "run cell" button at the top that looks like ▶| or hold down shift + return to confirm any changes. (Try not to delete the instructions of the lab.)

##### Code cells
Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains.

To run the code in a code cell, first click on that cell to activate it. It'll be highlighted with a little green or blue rectangle. Next, either press ▶| or hold down shift + return.

##### AI cells with magic commands
In this course, we will be using OpenAI's gpt-3.5-turbo model. These cells start with `%%ai openai-chat:gpt-3.5-turbo` and are followed by a `prompt` in the next line that works as an input to ChatGPT. This prompt will be sent to the AI assistant which will then respond with an output based on it.

Please avoid using extremely lengthy and unnecessary prompts. Do not change the magic command and always use `%%ai openai-chat:gpt-3.5-turbo` in this course. Finalize and submit all your prompts that helped you solve questions as part of your work as we will be looking at how you think about the questions in this course.

##### The Kernel
The kernel is a program that executes the code inside your notebook and outputs the results. In the top right of your window, you can see a circle that indicates the status of your kernel. If the circle is empty (⚪), the kernel is idle and ready to execute code. If the circle is filled in (⚫), the kernel is busy running some code.

Next to every code cell, you'll see some text that says In [...]. Before you run the cell, you'll see In [ ]. When the cell is running, you'll see In [*]. If you see an asterisk (*) next to a cell that doesn't go away, it's likely that the code inside the cell is taking too long to run, and it might be a good time to interrupt the kernel (discussed below). When a cell is finished running, you'll see a number inside the brackets, like so: In [1]. The number corresponds to the order in which you run the cells; so, the first cell you run will show a 1 when it's finished running, the second will show a 2, and so on.

You may run into problems where your kernel is stuck for an excessive amount of time, your notebook is very slow and unresponsive, or your kernel loses its connection. If this happens, try the following steps:

At the top of your screen, click Kernel, then Interrupt.
If that doesn't help, click Kernel, then Restart. If you do this, you will have to run your code cells from the start of your notebook up until where you paused your work.
If that doesn't help, restart your server. First, save your work by clicking File at the top left of your screen, then Save and Checkpoint. Next, click Control Panel at the top right. Choose Stop My Server to shut it down, then Start My Server to start it back up. Then, navigate back to the notebook you were working on. You'll still have to run your code cells again.

## Interacting with Python!

We interact using human languages. In a similar way, you can interact with computers using programming languages through programs!

Suggested Reading: https://inferentialthinking.com/chapters/03/programming-in-python.html

## Expressions
Programs are made up of expressions, which describe to the computer how to combine pieces of data.

For example, let's look at a multiplication expression

In [3]:
3*4

12

What happens if we try using two `*`?

In [4]:
3 * * 4

SyntaxError: invalid syntax (3671972048.py, line 1)

The Syntax of a language is its set of grammar rules, and a SyntaxError indicates that an expression structure doesn’t match any of the rules of the language!

In [5]:
3 ** 4

81

In [6]:
3*2*4

24

The symbols `*` and `**` are called operators, and the values they combine are called operands.

Some examples of common arithmetic expression types include Addition (`+`), Subtraction (`-`), Multiplication (`*`), Division (`/`), Exponentiation (`**`) and Remainder/Modulo (`%`). Reading suggestion: https://inferentialthinking.com/chapters/03/1/Expressions.html

##### chatgpt time!
Now let us ask chatgpt what expressions are and if it can show us some examples!

In [17]:
%%ai openai-chat:gpt-3.5-turbo
What are expressions in Python? Explain it like you would to a 5 year old. Give me some examples and values of arithmetic expression types.

Expressions in Python are like little puzzles that we can solve using numbers and symbols. Just like how you solve puzzles by putting pieces together, we can put numbers and symbols together to get an answer.

Here are some examples of arithmetic expressions and their values:

| Expression       | Value     |
|------------------|-----------|
| 2 + 3            | 5         |
| 7 - 4            | 3         |
| 5 * 6            | 30        |
| 12 / 4           | 3.0       |
| 11 % 3           | 2         |
| 2 ** 3           | 8         |

So, if you see an expression like "2 + 3", you can solve it by adding 2 and 3 together to get the value 5. Expressions help us do math in Python!

Now, let's try an example that chatgpt showed us and verify what the value is!

In [7]:
11 % 3

2

##### chatgpt time!
Now let's ask chatgpt about the Syntax Error!

In [24]:
%%ai openai-chat:gpt-3.5-turbo
I got a Syntax Error in Python when I ran `3 * * 4`. What is wrong with it? How should I correct it?

The syntax error in your code occurs because there is a space between the two asterisks `* *`, which is not allowed in Python syntax. To correct it, remove the space so that it becomes `3 ** 4`.

Exponentiation is performed using a double asterisk (`**`), with no space between them.

So the corrected code would be:
```python
3 ** 4
```

This will correctly raise the number 3 to the power of 4, resulting in the value 81.

## Names 

Names are incredibly important parts of human languages! It's the same for interactions with computers! Names are given to values in Python using an assignment statement. In an assignment, a name is followed by `=`, which is followed by any expression. The value of the expression to the right of `=` is assigned to the name. Once a name has a value assigned to it, the value will be substituted for that name in future expressions.

In [9]:
a = 10
b = 20
a + b

30

In [11]:
quarter = 1/4
half = 2 * quarter
half

0.5

In [12]:
print(half)

0.5

##### chatgpt time!
Let'see what chatgpt thinks of assignment statements!

In [21]:
%%ai openai-chat:gpt-3.5-turbo
What are assignment statements in Python? Explain it like you would to a 5 year old. Give me some simple examples.

Assignment statements in Python are like giving names to things. Just like how you have a name, like "Emma" or "Jack", we can give names to numbers or words in Python.

For example, let's say we want to give a name to the number 5. We can write an assignment statement like this:

```python
x = 5
```

Now, we have given the name "x" to the number 5. So whenever we use the name "x", it represents the number 5.

Another example is giving a name to a word. We can write an assignment statement like this:

```python
greeting = "Hello"
```

Now, we have given the name "greeting" to the word "Hello". So whenever we use the name "greeting", it represents the word "Hello".

Assignment statements make it easier for us to work with numbers and words in Python.

Let's try it out!

In [22]:
greeting = "Hello"
greeting + " class!"

'Hello class!'

In [14]:
first = "Hello"
second = " class!"

In [13]:
Greeting = "Hello"
Greeting

'Hello'

## Call Expressions

Call expressions invoke functions, which are named operations. The name of the function appears first (what function you want to call), followed by arguments in parentheses. Let's look at some examples!

In [25]:
abs(-12)

12

In [26]:
round(5 - 1.3)

4

In [27]:
max(2, 2 + 3, 4)

5

A few functions are available by default, such as `abs`, `max` and `round`, but most functions that are built into the Python language are stored in a collection of functions called a module. An import statement is used to provide access to a module. An example of a module you will be using is `math` module!

##### chatgpt time!
Let's ask chatgpt about functions

In [29]:
%%ai openai-chat:gpt-3.5-turbo
What are call expressions? Explain it like you would to a 5 year old using in built Python functions. Please give me a very simple example.

Call expressions in Python are like using special magic words to make things happen instantly. Just like how you say "abracadabra" and something magical happens, in Python we use special words to make built-in functions do cool things for us.

For example, let's say you want to know the length of a word. You can use the built-in function called "len()". When you say "len('banana')", it's like using your magic word to ask Python "Hey Python, please tell me the length of the word 'banana'!".

Here is a very simple example:

```python
# Using the len() function
word = 'banana'
length = len(word)
print(length)
```

When you run this code, the len() function is called with the word 'banana' as its input. The function will count the number of letters in the word and give you the result, which is 6 in this case. Then the value of length is printed out.

So, call expressions help us use these magic words (functions) to get answers from Python, just like saying "abracadabra" to make something happen!

Let's try out chatgpt's cool example!

In [30]:
word = 'banana'
length = len(word)
print(length)

6

## Tables

One of the simplest ways to work with data is through `Table` structures. Tables are a fundamental way of representing data sets. They can be viewed as a sequence of named columns that each describe a single attribute of all entries in a data set, or 
a sequence of rows that each contain all information about a single individual in a data set.

In [2]:
from datascience import *

In [3]:
cones = Table.read_table("data/cones.csv")
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

##### chatgpt time!
Now let's ask chatgpt what it thinks of tables!

In [33]:
%%ai openai-chat:gpt-3.5-turbo
What is a table? How can I understand data representations in a table? Explain to me what rows and columns are.

A table is a way of organizing data in a structured manner. Just like how you use a table to organize your toys or books, in data representation, a table helps us organize information in a clear and orderly fashion.

In a table, we have rows and columns. Imagine a grid like a tic-tac-toe board. The rows go from left to right, like the rows of seats in a movie theater. The columns go from top to bottom, like the columns of a newspaper.

Here's an example to help you understand:

| Name     | Age | Gender |
|----------|-----|--------|
| Emma     | 8   | Female |
| Liam     | 5   | Male   |
| Sophia   | 7   | Female |
| Noah     | 6   | Male   |

In this table, we have four rows and three columns. Each row represents information about a person, and each column represents a specific attribute or characteristic of that person. For example, the first row tells us that "Emma" is 8 years old and is a female.

Rows and columns help us organize and represent data in an easy-to-understand way. Just like how you arrange your toys or books neatly, a table allows us to see and compare information at a glance.

##### Some Table methods 

Now that you understand what a table is, we will learn what you can do with a table and manipulate it (and hence the data in it!) using different table methods! It works just like functions/call expressions you saw. The name of the table appears first (what table you want to apply a method on), followed by arguments in parentheses.

###### show
For example, if you want to see just the first two rows of a table, you can use the table method `show`. Two is just an example here, it can be any number.

In [10]:
cones.show(2)

###### select

The method `select` creates a new table consisting of only the specified columns and leaves the original table unchanged

In [11]:
flavor = cones.select('Flavor')
flavor.show(3)

In [12]:
cones #original table

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

You can select more than one column, by separating the column labels by commas

In [30]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
bubblegum  | 4.75

In [13]:
cones.select('flavor')

ValueError: The column "flavor" is not in the table. The table contains these columns: Flavor, Color, Price

###### drop

You can also `drop` columns you don’t want. The table above can be created by dropping the Color column. This method also leaves the original table unchanged.

In [14]:
no_colors = cones.drop('Color')
no_colors

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
bubblegum  | 4.75

In [15]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

###### sort 

The `sort` method creates a new table by arranging the rows of the original table in ascending order of the values in the specified column. It leaves the original table unchanged.

In [33]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25

In [16]:
cones.sort('Price', descending=True) # descending is an optional argument, meaning you don't have to use it unless you want to change the default behavior of the method!

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [17]:
cones.sort('Color')

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
strawberry | pink        | 3.55
bubblegum  | pink        | 4.75

###### where

The `where` method creates a new table consisting only of the rows that satisfy a given condition. We will work with a very simple example here -  the value in a specified column must be equal to a value that we also specify.

In [18]:
cones.where('Flavor', 'strawberry')

Flavor     | Color | Price
strawberry | pink  | 3.55

In [20]:
# Case matters!
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25

##### chatgpt time!
Now, let's talk to chatgpt about table methods!

In [33]:
%%ai openai-chat:gpt-3.5-turbo
Explain to me the table methods show, select, drop, sort and where with very simple examples.

| Method | Explanation | Example |
| ------ | ----------- | ------- |
| show   | Displays the content of a database table. | `SHOW TABLES;` |
| select | Retrieves specific columns or rows from a table. | `SELECT column1, column2 FROM table;` |
| drop   | Removes a table from the database. | `DROP TABLE table;` |
| sort   | Arranges the records in a table in ascending or descending order based on a column. | `SELECT * FROM table ORDER BY column ASC;` |
| where  | Filters the records based on a specific condition. | `SELECT * FROM table WHERE column = value;` |

Look at the response above! Chatgpt doesn't always recognize the context and give you the expected output! Here, you can see it is showing us methods from another language called SQL!

In [32]:
%%ai openai-chat:gpt-3.5-turbo
Explain to me the table methods show, select, drop, sort and where in Python with very simple examples.

| Method | Explanation | Python Example |
| ------ | ----------- | -------------- |
| show   | Displays the content of a database table. | ```python\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="username",\n  password="password",\n  database="database_name"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("SHOW TABLES")\n\nfor table in mycursor:\n  print(table)\n``` |
| select | Retrieves specific columns or rows from a table. | ```python\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="username",\n  password="password",\n  database="database_name"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("SELECT column1, column2 FROM table")\n\nresult = mycursor.fetchall()\n\nfor row in result:\n  print(row)\n``` |
| drop   | Removes a table from the database. | ```python\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="username",\n  password="password",\n  database="database_name"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("DROP TABLE table")\n``` |
| sort   | Arranges the records in a table in ascending or descending order based on a column. | ```python\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="username",\n  password="password",\n  database="database_name"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("SELECT * FROM table ORDER BY column ASC")\n\nresult = mycursor.fetchall()\n\nfor row in result:\n  print(row)\n``` |
| where  | Filters the records based on a specific condition. | ```python\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="username",\n  password="password",\n  database="database_name"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("SELECT * FROM table WHERE column = value")\n\nresult = mycursor.fetchall()\n\nfor row in result:\n  print(row)\n``` |

Look at the above output again. Even specifying Python did not quite work! In this course, you are going to work with chatgpt smartly, understand the responses and tweak the prompts.

In [37]:
%%ai openai-chat:gpt-3.5-turbo
Explain to me the table methods show, select, drop, sort and where from datascience module in Python like I am a 5 year old. Assume we have a few rows of data in a table of your choice (show me that data first) and then give me very simple examples.

Here is the example table data:

| Name   | Age |
| ------ | --- |
| Alice  | 5   |
| Bob    | 6   |
| Charlie| 7   |

| Method   | Explanation                                      | Example                                                                                          |
| -------- | ------------------------------------------------ | ------------------------------------------------------------------------------------------------ |
| show     | Displays the content of a data table.            | To see all the information in the table, you can use the `show()` method.                       |
| select   | Retrieves specific columns or rows from a table. | If you want to see only the names of your friends, you can use the `select()` method.            |
| drop     | Removes a column from a table.                    | If you don't need the 'Age' column in the table, you can remove it using the `drop()` method.    |
| sort     | Sorts the rows of a table based on a column.     | If you want to arrange the rows of the table by age, you can use the `sort()` method.           |
| where    | Filters the rows of a table based on a condition. | If you want to find friends older than a certain age, you can use the `where()` method.          |

```python
import datascience as ds

table = ds.Table().with_columns(
    'Name', ['Alice', 'Bob', 'Charlie'],
    'Age', [5, 6, 7]
)

# Example usage of each method
table.show()                          # Shows the entire table
name_column = table.select('Name')    # Selects only the 'Name' column
updated_table = table.drop('Age')     # Removes the 'Age' column from the table
sorted_table = table.sort('Age')      # Sorts the table by the 'Age' column
filtered_table = table.where('Age', ds.are.above(5))   # Filters the table to show friends older than 5
```

Now, that looks much better!