# Lab05 examples

### table.sample()

In [1]:
from datascience import *
import numpy as np

# needed for plotting with datascience module
%matplotlib inline
import matplotlib.pyplot as plots
#plots.style.use('fivethirtyeight')

from IPython.display import display, Image

In [2]:
example_table = Table().with_columns("col1", np.arange(100), "col2", np.arange(100, 200))
example_table

col1 | col2
0    | 100
1    | 101
2    | 102
3    | 103
4    | 104
5    | 105
6    | 106
7    | 107
8    | 108
9    | 109
... (90 rows omitted)

In [4]:
# the argument is just the number of samples to take. notice the rows stick together but only some of them are chosen
example_table.sample(10)

col1 | col2
93   | 193
31   | 131
56   | 156
50   | 150
1    | 101
74   | 174
90   | 190
50   | 150
23   | 123
68   | 168

### Correlation

In [5]:
# Best way is np.corrcoef(column1, column2)[0][1]
example_table_2 = Table().with_columns("col1", [1, 2, 3, 4] , "col2", [-1, -4, -9, -16])
example_table_2

col1 | col2
1    | -1
2    | -4
3    | -9
4    | -16

In [6]:
corr_matrix = np.corrcoef(example_table_2.column("col1"), example_table_2.column("col2"))
corr_matrix

array([[ 1.        , -0.98437404],
       [-0.98437404,  1.        ]])

In [7]:
# don't worry about the whole matrix
corr_matrix[0][1]

-0.98437403869769724

In [ ]:
# correlation is SUM(x_i - avg(x))(y_i - avg(y)) / (std(x) * std(y)) - the function does this for you!