# Iterators

For Loop Logic

BEFORE THE FIRST LOOP
1. Assign start to the variable i
2. Check if i is less than end
  i. If TRUE, it will go to LOOP
  ii. Else, it will go to STOP

LOOP
1. Run all instructions within the body of the for loop
2. it will add step to i
3. Check if i is less than end
  i) If TRUE, it will go back to start of LOOP
  ii) Else, it will go to STOP

STOP
1. Code execution will continue at the instructions after and outside the for loop

In [1]:
range(0, 5)

range(0, 5)

In [21]:
start = 0 #inclusive
end = 10 #exclusive
step = 1

for i in ['antonis', 2, 3, 4, 5]:
  print(i)

antonis
2
3
4
5

In [3]:
#ALL THESE FOR LOOPS ARE LOGICALLY THE SAME
for i in range(0, 5, 1):
  print(i)

for i in range(0, 5):
  print(i)

for i in range(5):
  print(i)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [7]:
#ENHANCED FOR LOOPS
arr = ['antonis', 2, 3, 4, 5]

for me in arr:
  print(me)

antonis
2
3
4
5

In [9]:
#ENHANCED FOR LOOPS with np.arange
import numpy as np

start = 1
end = 10
step = 2

arr = np.arange(start, end, step)
arr

array([1, 3, 5, 7, 9])

In [23]:
for b in arr:
    print(b)

1
3
5
7
9

In [10]:
for elem in np.arange(start, end, step):
  print(elem)

1
3
5
7
9

In [11]:
#SAME AS
for i in range(0, len(arr), 2):
  elem = arr[i]
  print(elem)

1
5
9

# Conditionals

An if statement decided what instructions to run, based on the TRUE or FALSE result of some boolean expression.

Boolean expressions are made up of logical operators: ==, >, <, !=, and, or

In [12]:
num = 50

"""
if
else
elif
"""

if num > 100:
  print("greater")
else:
  print("not greater")

not greater

In [24]:
#MULTIPLE IFS
num = 50

if num > 100:
  print("greater")
if num == 50:
  print("equal")
else:
  print("not greater")

equal

In [25]:
#ELIF STATEMENTS
num = 50

if num > 100:
  print("greater")
elif num == 50:
  print("equal")
else:
  print("not greater")

equal

# Combining Conditionals and Iterators
Store all even numbers and odd numbers between 30 and 100, in seperate arrays. Then, print the arrays.

In [26]:
numbers =[1, 2, 3]

# if numbers[0] == 2:
#     print("equal")
# if numbers[1] == 2:
#     print("equal")
# if numbers[2] == 2:
#     print("equal")

for i in numbers:
    if i == 2:
        print("equal")

equal

In [27]:
even = []
odd = []

for i in range(30, 100, 1):
  if i % 2 == 0:
    #this is an even number
    even.append(i)
  elif i % 2 == 1:
    #this is an odd number
    odd.append(i)
  else:
    print('impossible')

print(even)
print(odd)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Functions
Once a function is defined, you can use it throughout your notebook

In [ ]:
f(x) -> y

In [28]:
def f(x, y):
    z = x * y
    return z

f(2, 3)

6

In [29]:
def multiply_by_two(x):
    y = x * 2
    return y

multiply_by_two(2)

4

In [32]:
def add(x, y):
  z = x + y
  return x, y, z

add(4, 12)

(4, 12, 16)

In [ ]:
add(4, 12)