In [ ]:
%load_ext jupyter_ai_magics

In [ ]:
from datascience import *
import numpy as np

### Conditionals and Iterations
Iteration and conditional statements allow us to work efficiently with data. By iterating over a data set, you can easily apply the same operation(s) to each data point, whereas conditionals help in making decisions about which operations to perform depending on the data. Let's look at a few examples!

**Q1**. Can you find all the numbers from 1 to 100 that are divisible by 2 as well as 3, and print them out? Hint: Think _if_ statement, _for_ loops and expressions in Python!

In [ ]:
# SOLUTION

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q2:** You are given some temperature data below. Can you count the number of days where the temperature is above 25 degrees Celsius and check if any day has a temperature below 10 degrees Celsius? Print your results. Hint: Think _for_ loops and conditional statements!

In [ ]:
temperature_data = [28, 22, 26, 30, 24, 27, 23, 29, 31, 18, 20, 25, 29, 32]

In [ ]:
# SOLUTION

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

This lab will again use the data set of university rankings, so we need to load it.

In [ ]:
ranking = Table.read_table("data/world_university_rankings.csv")

**Q3:** If you look at the columns in the ranking table, you will notice that there are two columns regarding research - Research Quality Score and Research Environment Score. We can define an overall research score as the mean of these two scores. How can you add an additional column to the table that shows this score for each university?

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q4**: How can you now create a table with only universities that have a Research Quality Score that is higher than the Research Score?

*Hint:* Think table methods like where. Ask your TAs and ULAs for help!

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

## Functions

Functions are a very useful tool to express how a certain task is performed. You can then just call this function instead of copying the code whenever you need it. You can even use functions to make changes to a table.

**Q1.1**: Let's start by defining a function that creates initials. How can you define a function that returns only the first letters of each word in a string separated by '.' if these letters are upper case? For example, for the string "Marie Curie Intitute", the result would be "M.C.I.".
*Hint:* Think for loop and conditional statement with a function!
Check out useful string methods https://www.data8.org/datascience/reference-nb/datascience-reference.html#str.split() and https://www.w3schools.com/python/python_strings.asp to see how to access string elements!

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q1.2**: Can you write a function that outputs a string interval "0-10" for intergers less than or equal to 10, "11-20" for integers greater than 10 but less than or equal to 20, and so on upto and including 100? For example: if you define a function called inRange, then inRange(24) should return "21-30". We will use this function later to make things interesting. 

Hint: Think conditional statements! In case the number is greater than 100 or negative, please print “Unknown”.

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q2:** Now, please add a column to the table that contains the initials of each university. For example, "ETH Zurich" has the initials "E.Z.". Hint: Use the function we wrote in the previous questions!

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q3:** Universities from how many countries are included in the ranking? What are those countries? *Hint:* How can you get a list of unique elements in a column?

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q4:** Next, let's find out how many universities are from each of the countries United States, United Kingdom, China, Australia. Additionally, what percentage of all included universities belong to one of the four countries?

*Hint:* There are many kinds of predicates. https://www.data8.org/datascience/reference-nb/datascience-reference.html#Table.where-Predicates

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q5:** Can you create a table showing how many universities are in the top 0-10%, 10%-20%,..., 90%-100% for each country?

*Hint:* You can use a previously defined function to help with this question

*Hint:* You will need to *pivot* the table.

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here

**Q6:** The rank of each university in the dataset is a global rank. How can you add a column that contains the national rank for the universities?

*Hint:* Remember Q4 and Q5 from lab 2.

*Hint:* There can be two universities with the same rank, but they are in different rows. Make sure you assign the national rank to the correct university in the full table.

In [ ]:
# Solution

### Prompt Below

In [ ]:
%%ai openai-chat:gpt-4.0

### Explain your Workflow Below

Explain your answer here